#logo
{
    position: relative;
    bottom: 80px;
}
#box1
{
    position: relative;
    left:-80px;
}



#uno
{
    position: relative;
    left:50px;
}
#buscar
{
    position: relative;
    left:50px;
    background-color: rgb(221, 128, 41);
    color: white;
    border-color:  rgb(221, 128, 41);
}

#actualizar
{
    position: relative;
    left:350px;
    background-color: rgb(221, 128, 41);
    color: white;
    border-color:  rgb(221, 128, 41);
    
}
#cb_2
{
    color: white;
    background-color:rgba(0, 0, 0, 0.705)
}
.p
{
    font-family: 'Roboto', sans-serif;
    font-size:50px;

}