#logo
{
    position: relative;
    bottom: 80px;
}
#box1
{
    position: relative;
    left:-80px;
}



#uno
{
    position: relative;
    left:50px;
}
#buscar
{
    position: relative;
    left:50px;
    border-radius: 10px;
    color: white;
    border-color: rgba(216, 87, 12, 0.918);
    background-color:rgba(216, 87, 12, 0.918);
}

#actualizar
{
    position: relative;
    left:350px;
    
    color: white;
    border-color: rgba(216, 87, 12, 0.918);
    background-color:rgba(216, 87, 12, 0.918);
    border-radius: 10px
    
}
.cb_1
{
    color: white;
    background-color:rgba(0, 0, 0, 0.705)
}
.p
{
    font-family: 'Roboto', sans-serif;
    

}

.nav nav-tabs
{
    color: aqua;
}

#registrar_1
{
    color: white;
    border-color: rgba(216, 87, 12, 0.918);
    background-color:rgba(216, 87, 12, 0.918);
    border-radius: 10px;
    
}


#rechazar
{
    color: white;
    border-color:rgba(0, 0, 0, 0.705);
    background-color: rgba(0, 0, 0, 0.705);
    border-radius: 10px; 
}

.modal-content
{
    background-color: rgba(0, 0, 0, 0.705);
    color: white;
}
#boton
{
    color: white;
}


.nav-tabs>li>a {color:black;}

#boton
{
    background-color: transparent;
    border-color: transparent;
}